---
BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Never
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 220
SpaceInEmptyBlock: true
